<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- Annotation Activate -->
	<context:annotation-config />

	<bean id="c1" class="com.mahesh.model.Car">
		<property name="carname" value="Indias first Wagnor Car " />
	</bean>

	<bean id="c2" class="com.mahesh.model.Car">
		<property name="carname"
			value="Indias second Renault Duster Car" />
	</bean>

	<bean id="c3" class="com.mahesh.model.Car">
		<property name="carname"
			value="Indias Third Smallest Car Tata Nano" />
	</bean>

	<bean id="c4" class="com.mahesh.model.Car">
		<property name="carname" value="Indias Fourth WolksWagon Car"></property>
	</bean>

	<bean id="e1" class="com.mahesh.model.Employee">
		<property name="empName" value="Mahesh" />
		<property name="empAddress" value="Pune"></property>
		<property name="empCompanyName" value="TCS"></property>
		<property name="mobileNo" value="8446329160"></property>
	</bean>

</beans>          